<div>

  <button class="homeButton" mat-mini-fab  aria-label="Example icon button with a home icon" [routerLink]="['/']"
  routerLinkActive="router-link-active">
      <mat-icon mat-mini-fab color="primary" aria-label="Example icon button with a home icon">home</mat-icon>
  </button>

  <h1>Instruction For The Website</h1>
  <br>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Fq11AwrWZZOfwnJ0mtfnOC0XTLNjGmqPTg&usqp=CAU" alt="">
  <br>
  <br>

    <li>Only Admin can add new company or customer</li>
    <li>Only Admin can update company or customer</li>
    <li>Only Company can add new coupon</li>
    <li>Only Customer can purchase coupon</li>
    <li>In order to purchase coupon you need to log in</li>
    <li>You can only buy a coupon once.</li>
    <li>You can't purchase coupon that expired or with 0 amount</li>

</div>
