<div>
  <button class="homeButton" mat-mini-fab  aria-label="Example icon button with a home icon" [routerLink]="['/']"
  routerLinkActive="router-link-active">
      <mat-icon mat-mini-fab color="primary" aria-label="Example icon button with a home icon">home</mat-icon>
  </button>
  <h1>About Me</h1>
<br>
  <p>My name is Dana Drosvit and I am 26 years old.<br>
     I graduated from John Bryce Academy in December 2020. <br>
     Now, I am looking for my first full-time job.<br>
     During my studies I learned backend and fronted.<br>
     backend - Java in spring framework.<br>
     frontend - ts/js in Angular framework.<br>
     to expand my knowledge I have been working on fullstack project.<br>
     with my teacher as a mentor - I made this website.

     </p>

</div>
