table{
  margin: auto;
  }
  table, th,td{
  border: 1px solid whitesmoke;
  }
  tr:nth-child(even){
  background-color: lightslategray;
  }
  tr:nth-child(odd){
  background-color: hsl(351, 72%, 89%);
  }
  tr:first-child{
  background-color: gray;
  }

  div{
  height: 80%;
  overflow: auto;
  text-align: center;
  }

  .input-element{
    font-size: 15px;
    /* width: 100px; */
    height: 20px;
    }

  .add{
  background-color: rgb(213, 213, 253);
    text-align: right;
    margin: 25px 50px 25px 850px;
}

.filter{

  text-align: center;
  margin: 2px 0px 0px 150px;
}

.searchButton{

  margin: 0px 10px 0px 0px;
}



.homeButton{
  background-color: #fff;
}

input, select, label {
  width: 100px;
  vertical-align: top;
}

input{
  height: 12px;
}

img{
  width: 100px;
  height: 50%;
}

h1, h2{
  color: black;
  font-size: 29px;
  font-style: oblique;
  font-family: "Libre Baskerville", serif;
  line-height: 45px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding-top: 20px;
}
