<div>
  <button class="homeButton" mat-mini-fab aria-label="Example icon button with a home icon" [routerLink]="['/']"
    routerLinkActive="router-link-active">
    <mat-icon mat-mini-fab color="primary" aria-label="Example icon button with a home icon">home</mat-icon>
  </button>
  <br>
  <br>

  <h1>Hello {{name}}</h1>


  <div>
    <label>Max Price</label>
    <input class="input-element" [(ngModel)]="maxPrice">
    &nbsp;&nbsp;
    <label>Category</label>
    <select [(ngModel)]="category" class="input-element">
      <option *ngFor="let i of categories" [value]="i">{{i}}</option>
    </select>&nbsp;
    <button class="searchButton" mat-stroked-button color="primary" (click)="FilterCoupons()">Search</button>
    <button class="clear" mat-stroked-button (click)="ngOnInit()">clear</button>


  </div>

  <button class="add" mat-button (click)="addCoupon(null)">Add Coupon ➕</button>

  <ng-container *ngIf="coupons && coupons.length>0; else elseTemplate">
    <h2>Your Coupons</h2>
    <table mat-table>
      <tr>
        <th>ID</th>
        <th>Company ID</th>
        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Image</th>
        <th>Action</th>

      </tr>
      <tr *ngFor="let coupon of coupons">
        <td>{{coupon.id}}</td>
        <td>{{coupon.companyId}}</td>
        <td>{{coupon.category}}</td>
        <td>{{coupon.title}}</td>
        <td>{{coupon.description}}</td>
        <td>{{coupon.startDate | date: 'dd/MM/yy'}}</td>
        <td>{{coupon.endDate | date: 'dd/MM/yy'}}</td>
        <td>{{coupon.amount}}</td>
        <td>{{coupon.price}}</td>
        <td><img src="{{coupon.image}}"></td>
        <td><button mat-button (click)="deleteCoupon(coupon)">🗑️</button> | <button mat-button
            (click)="updateCoupon(coupon)">✒️</button></td>

      </tr>
    </table>

  </ng-container>
  <ng-template #elseTemplate>
    <app-empty-view message='No Coupons For You'></app-empty-view>
  </ng-template>



</div>
